@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

textarea {
  resize: none;
  background-color: #161b22;
  /* min-height: 35rem; */
  /* background: none; */
}
